$color1: #fff;
$color2: #000;
$color3: #e9e9e9;
$color4: #cccccc;
$color5: #d42a29;
$color6: #dfdfdf;
$color7: #6c6c6c;
$color8: #b3b6b8;
$color9: #dddddd;
$color10: #3f3f3f;

$textColor1: $color1;
$textColor2: $color2;
$textColor3: $color3;
$textColor4: $color4;
$textColor5: $color5;
$textColor6: $color6;
$textColor7: $color7;
$textColor8: $color8;
$textColor9: $color9;
$textColor10: $color10;


$containerLG:1310px;
$containerSD:1170px;
$containerMD:992px;
$containerSM:768px;
$containerXS:100%;
$containerXSS:100%;

// $indent5: 60px;
// $indent6: 10px;
// $indentO1: -$indent1;
// $indentO2: -$indent2;
// $indentO3: -$indent3;
// $indentO4: -$indent4;
// $indentO5: -$indent5;
// $indentO6: -$indent6;

$indentLG1: 30px;
$indentLG2: 15px;

$col1: 100% * 1 / 12;
$col2: 100% * 2 / 12;
$col2_4: 100% / 5;
$col3: 100% * 3 / 12;
$col4: 100% * 4 / 12;
$col5: 100% * 5 / 12;
$col6: 100% * 6 / 12;
$col7: 100% * 7 / 12;
$col8: 100% * 8 / 12;
$col9: 100% * 9 / 12;
$col10: 100% * 10 / 12;
$col11: 100% * 11 / 12;
$col12: 100% * 12 / 12;

// $rowMarginLG: 0px $indentO3;
// $rowMarginSD: 0px $indentO3;
// $rowMarginMD: 0px $indentO3;
// $rowMarginSM: 0px $indentO3;
// $rowMarginXS: 0px $indentO2;
// $rowMarginXSS: 0px $indentO2;

$maxMediaSD:1439px;
$maxMediaMD:1199px;
$maxMediaSM:991px;
$maxMediaXS:767px;
$maxMediaXSS:479px;

$minMediaSD:1280px;
$minMediaMD:1200px;
$minMediaSM:992px;
$minMediaXS:768px;
$minMediaXSS:480px;

$font1: 'Century Gothic';
$font2: 'icomoon';

$textColor4Hover: $color4;

$back1: $color1;
$back2: $color2;
$back3: $color3;
$back4: $color4;
$back5: $color5;

$borderColor1: $color1;
$borderColor2: $color2;
$borderColor3: $color3;

$btnColor1: $color1;

$placeholder1: #5e7ec5;
$placeholder2: #7c7c7c;
$placeholder3: #6f6f6f;

